<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        form {
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid black;
            border-radius: 10px;
        }
        input[type="text"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
        }
        input[type="submit"] {
            padding: 10px 20px;
        }

    </style>
</head>
<body>
    <h1>Submit Your Request</h1>
    <form th:action="@{/submit-request}" method="post">
        <input type="text" name="searchString" placeholder="Enter your request" required>
        <input type="submit" value="Submit">
    </form>


    <!-- Image upload form -->
    <form id="imageUploadForm" enctype="multipart/form-data">
        <input type="file" id="imageFile" name="imageFile">
        <button type="button" id="uploadBtn">Upload Image</button>
        <br><br>

        <img id="thumbnail" src="#" alt="Image Preview" style="display: none;" width="244" height="346">
    </form>

    <!-- Thumbnail display -->
    <div id="thumbnailContainer"></div>

    <script>
        $(document).ready(function() {
            console.log("document is ready");
            updateImageUrl();

            $('#uploadBtn').click(function() {
                var formData = new FormData();
                var imageFile = $('#imageFile')[0].files[0];
                formData.append('imageFile', imageFile);

                $.ajax({
                    url: '/upload-image',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        $('#thumbnail').attr('src', data.imageUrl)
                       .attr('width', '244')
                       .attr('height', '346')
                       .css('display', 'block');
                        console.log("after /upload-image: Image URL:", data.imageUrl);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error uploading image:', error);
                    }
                });
            });
        });

        function updateImageUrl() {
            console.log("start function updateImageUrl()");
            $.ajax({
                url: '/get-the-last-image-url',  // Ваш URL для получения изображения
                type: 'GET',
                success: function(data) {
                    if (data.imageUrl) {
                        $('#thumbnail').attr('src', data.imageUrl).css('display', 'block');
                    } else {
                        $('#thumbnail').css('display', 'none');
                    }
                    console.log("after updateImageUrl(): Image URL:", data.imageUrl);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching image URL:', error);
                }
            });
        }

        window.addEventListener('pageshow', function(event) {
            // Проверка, была ли страница загружена из кэша
            if (event.persisted) {
                console.log('Page loaded from cache');
            } else {
                console.log('Page loaded from server');
            }
            // В любом случае, выполняем обновление изображения
            updateImageUrl();
        });
    </script>
</body>
</html>